@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
// $total-width: 100vw;
// $game-width: 100vh;
// $control-width: $total-width-100vh;
.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #363636;
  overflow: hidden;
}
//Game container
.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vh;
  position: relative;
  background: #363636;
}
.side-bar-one,
.side-bar-two {
  position: absolute;
  width: 5vh;
  height: 90vh;
  background: #363636;
}
.side-bar-one {
  left: 0;
  top: 5vh;
  bottom: 0;
}
.side-bar-two {
  left: 95vh;
  top: 5vh;
  bottom: 0;
}
.top-bar-one,
.top-bar-two {
  position: absolute;
  height: 5vh;
  width: 90vh;
  background: #363636;
}
.top-bar-one {
  left: 5vh;
  right: 0;
  top: 0;
}
.top-bar-two {
  left: 5vh;
  right: 0;
  top: 95vh;
}
.side-bar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 5.4vh;
  grid-gap: 0.5vh;
  padding: 0.6vh 0;
}
.top-bar-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-columns: 5.4vh;
  grid-gap: 0.5vh;
  height: 100%;
}
.side-bar-grid,
.top-bar-grid {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  font-family: 'Fredoka One', cursive;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.board {
  left: 5vh;
  top: 5vh;
  right: 0;
  bottom: 0;
  height: 90vh;
  width: 90vh;
  color: teal;
  background: white;
  border: 0.5vh solid indigo;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 5.4vh;
  grid-gap: 0.5vh;
  padding: 0.4vh 0.25vh;
  position: absolute;
}
.board-cell {
  position: relative;
  width: 5.4vh;
  height: 5.4vh;
  border-radius: 0.4vh;
  background: #e2e2e2;
  position: relative;
  -moz-box-shadow: inset 0 0 10px #0f0d1369;
  -webkit-box-shadow: inset 0 0 10px #0f0d1369;
  box-shadow: inset 0 0 10px #0f0d1369;
}
.occupied{
  .wooden-bg {
    background-image: $light-wood-url;
    background-repeat: no-repeat;
    position: absolute;
    top: -0.25vh;
    left: -0.25vh;
    right: -0.25vh;
    bottom: -0.25vh;
    border-radius: 0.4vh;
    border-bottom-right-radius: 0;
    display: flex;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
  }
}
.red-bg,
.pred-bg,
.blue-bg,
.pblue-bg {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  // opacity: 0.3;
  color: rgba(255, 255, 255, 0.619);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.red,
.blue,
.pred,
.pblue {
  -moz-box-shadow: inset 0 0 5px #0f0d1369;
  -webkit-box-shadow: inset 0 0 5px #0f0d1369;
  box-shadow: inset 0 0 5px #0f0d1369;
}
.red {
  background: #d16666bd;
}

.pred {
  background: #f58eb2;
}
.blue {
  background: #826df7;
}
.pblue {
  background: #8eb6f8;
  // background-image:$wooden-bg-url;
}
.top-bar-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}
.wooden-bg {
  background-image: $light-wood-url;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.4vh;
  border-bottom-right-radius: 0;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}
letter-bg {
  position: relative;
}
.singleletter-p {
  background: transparent;
  font-size: 2rem;
  font-weight: 800;
  color: #242222c2;
  font-family: 'Nanum Gothic', sans-serif;
}
.singleletter-p-point {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 0.65 rem;
  font-weight: 400;
  color: #242222c2;
  font-family: 'Nanum Gothic', sans-serif;
}
//Game Container ends

//Controls Container
.controls-container {
  box-sizing: border-box;
  background: #363636;
  position: absolute;
  top: 0;
  left: 100vh;
  right: 0;
  height: 100vh;
}

.player-control {
  position: relative;
}
.player-letter-grid {
  display: grid;
  padding: 0.5rem;
  padding-left: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  grid-auto-rows: 10vh;
  grid-gap: 1.75rem;
  border-radius: 0.4vh;
  // padding: 0 1rem;
  background: transparent;
}
.player-div-one,
.player-div-two {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #949494;
  background: transparent #d6e3e0;
  height: 96%;
  // background-image: url('../images/89499.jpg');
}
.player-div-one {
  padding-top: 5vh;
}

.player-one-outer-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;

  // background-image: url('../images/89499.jpg');
  // margin: 0.4rem;
  // padding: 0.4rem;
  // background-color: #363636;
  // border-radius: 1rem;
}
.player-two-outer-div {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  height: 50vh;
  // background-image: url('../images/89499.jpg');
  // margin: 0.4rem;
  // padding: 0.4rem;
  // background-color: #363636;
  // border-radius: 1rem;
}
.player-control-title {
  // font-family: 'Fredoka One', cursive;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.2px;
  margin: 2rem;
  color: #3ce0a4;
  cursor: default;
}
.player-letter-elem {
  // margin: 0.5rem 0;
  height: 100%;

  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + label {
    .playerletter-p {
      color: #e7a518;
    }
    .playerletter-p-point {
      color: #e7a518;
    }
    -webkit-box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
      2px 2px 0px rgba(231, 165, 24, 0.65),
      3px 3px 0px rgba(231, 165, 24, 0.65),
      4px 4px 0px rgba(231, 165, 24, 0.65),
      5px 5px 0px rgba(231, 165, 24, 0.65),
      6px 6px 0px rgba(231, 165, 24, 0.65),
      7px 7px 0px rgba(231, 165, 24, 0.65);
    -moz-box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
      2px 2px 0px rgba(231, 165, 24, 0.65),
      3px 3px 0px rgba(231, 165, 24, 0.65),
      4px 4px 0px rgba(231, 165, 24, 0.65),
      5px 5px 0px rgba(231, 165, 24, 0.65),
      6px 6px 0px rgba(231, 165, 24, 0.65),
      7px 7px 0px rgba(231, 165, 24, 0.65);
    box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
      2px 2px 0px rgba(231, 165, 24, 0.65),
      3px 3px 0px rgba(231, 165, 24, 0.65),
      4px 4px 0px rgba(231, 165, 24, 0.65),
      5px 5px 0px rgba(231, 165, 24, 0.65),
      6px 6px 0px rgba(231, 165, 24, 0.65),
      7px 7px 0px rgba(231, 165, 24, 0.65);
  }
  input[type='checkbox']:disabled + label {
    opacity: 0.25;
    transition-delay: 0.2s;
    transition: opacity 0.2s ease-in;
  }
  -webkit-box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
    2px 2px 0px rgba(126, 107, 94, 0.6),
    3px 3px 0px rgba(126, 107, 94, 0.6),
    4px 4px 0px rgba(126, 107, 94, 0.6),
    5px 5px 0px rgba(126, 107, 94, 0.6),
    6px 6px 0px rgba(126, 107, 94, 0.6),
    7px 7px 0px rgba(126, 107, 94, 0.6);
  -moz-box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
    2px 2px 0px rgba(126, 107, 94, 0.6),
    3px 3px 0px rgba(126, 107, 94, 0.6),
    4px 4px 0px rgba(126, 107, 94, 0.6),
    5px 5px 0px rgba(126, 107, 94, 0.6),
    6px 6px 0px rgba(126, 107, 94, 0.6),
    7px 7px 0px rgba(126, 107, 94, 0.6);
  box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
    2px 2px 0px rgba(126, 107, 94, 0.6),
    3px 3px 0px rgba(126, 107, 94, 0.6),
    4px 4px 0px rgba(126, 107, 94, 0.6),
    5px 5px 0px rgba(126, 107, 94, 0.6),
    6px 6px 0px rgba(126, 107, 94, 0.6),
    7px 7px 0px rgba(126, 107, 94, 0.6);

  overflow-inline: hidden;
}
.used-player-letter {
  input[type='checkbox']:disabled + label {
    // opacity: 0.25;
    // transition-delay: 0.2s;
    transition: opacity 0.2s ease-in;
  }
}
.input + label {
  opacity: 1;
}
input:disabled + label {
  opacity: 0.8;
}
.player-letter-bg {
  position: relative;
  height: 100%;
  cursor: pointer;
}
.playerletter-p {
  background: transparent;
  font-size: 3.5rem;
  font-weight: 900;
  color: #242222c2;
  font-family: 'Noto Serif KR', serif;
}
.playerletter-p-point {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #242222c2;
  font-family: 'Noto Serif KR', serif;
}

//Player Letter ends here

//Player controls button here
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #2e70cc;
.player-control-button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  grid-auto-rows: 10vh;
}
.general-btn {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2,
    2px -2px 1px #0066a2, -2px -2px 1px #0066a2,
    0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87,
    -2px 4px 1px #004a87;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  box-shadow: 0 6px 0 #266b91,
    0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #12517d,
    0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  &:disabled {
    opacity: 0.25;
    transition: opacity 0.2s ease-in;
  }
}
.general-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91,
    0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #12517d,
    0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.general-btn::before {
  content: '';
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.general-btn::after {
  content: '';
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.general-btn.pass-btn {
  background: repeating-linear-gradient(
    45deg,
    #ff4f4c,
    #ff4f4c 5px,
    #ff4643 5px,
    #ff4643 10px
  );
  box-shadow: 0 6px 0 #ae2725,
    0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #831614,
    0 12px 0 5px #a33634, 0 15px 0 5px #631716,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(160, 25, 23, 0.5);
  text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21,
    2px -2px 1px #d72d21, -2px -2px 1px #d72d21,
    0px 2px 1px #d72d21, 0px -2px 1px #d72d21,
    0px 4px 1px #930704, 2px 4px 1px #930704,
    -2px 4px 1px #930704;
}
.general-btn.pass-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #ae2725,
    0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #831614,
    0 10px 0 5px #a33634, 0 13px 0 5px #631716,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.general-btn.submit-btn {
  background: repeating-linear-gradient(
    45deg,
    #54d440,
    #54d440 5px,
    #52cc3f 5px,
    #52cc3f 10px
  );
  box-shadow: 0 6px 0 #348628,
    0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #2a6d20,
    0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(40, 117, 29, 0.5);
  text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628,
    2px -2px 1px #348628, -2px -2px 1px #348628,
    0px 2px 1px #348628, 0px -2px 1px #348628,
    0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16,
    -2px 4px 1px #1d4c16;
}
.general-btn.submit-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #348628,
    0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #2a6d20,
    0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.general-btn.apply-btn {
  background: repeating-linear-gradient(
    45deg,
    #ffc800,
    #ffc800 5px,
    #ffc200 5px,
    #ffc200 10px
  );
  box-shadow: 0 6px 0 #b76113,
    0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #75421f,
    0 12px 0 5px #8a542b, 0 15px 0 5px #593116,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(205, 102, 0, 0.5);
  text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700,
    2px -2px 1px #e78700, -2px -2px 1px #e78700,
    0px 2px 1px #e78700, 0px -2px 1px #e78700,
    0px 4px 1px #c96100, 2px 4px 1px #c96100,
    -2px 4px 1px #c96100;
}
.general-btn.apply-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #b76113,
    0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #75421f,
    0 10px 0 5px #8a542b, 0 13px 0 5px #593116,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
//PopUp

@mixin font-stack {
  font-family: 'Raleway', sans-serif;
}

$background-opacity: 0.5;

.hidden {
  opacity: 0;
}

@mixin absolute-position-center() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.48);
}

#pop-up {
  @include absolute-position-center();
  @include box-shadow();
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;

  transition: opacity 0.25s ease-in;

  .text {
    min-height: 240px;
    min-width: 400px;
    max-height: 240px;
    max-width: 400px;
    border-radius: 6px;
    margin: 2.5% 0;
    padding: 20px;
    line-height: 1.5;
    background-color: white;
    border: 4px solid rgba(209, 78, 39, 0.761);
    .img-popup {
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
    }

    // color: black !important;
    h1 {
      font-weight: 600;
      font-size: 28px;
      // margin:0;
      text-align: center;
      // text-decoration: underline;
    }
    .success {
      color: $green;
    }
    .error {
      color: $red;
    }
    p {
      text-align: center;
      // width: 90%;
      font-weight: 500;
      font-size: 20px;

      // line-height: 1.8em;
    }

    .pop-up-ok {
      // position: absolute;
      // bottom: 20px;
      // left: 42%;

      background-color: #16a085;
      display: inline-block;
      justify-self: center;
      border: none;
      font-size: 20px;
      margin: 6px 0;
      padding: 4px 16px;
      color: white;
      cursor: pointer;
    }
    .close {
      position: absolute;
      top: 0px;
      right: 6px;
      width: 10px;
      font-weight: 400;
      font-size: 16px;
      font-family: 'Fredoka One', cursive;
      color: rgba(71, 66, 66, 0.578);
      cursor: pointer;
    }
  }
}

#innerPopUp {
  // height:100%;
  overflow: auto;
  // opacity:0;
}

.fade-in {
  animation: fadeIn 1.3s ease forwards 1s;
}

.fade-out {
  animation: fadeOut 1.3s ease forwards;
}

.animate-in {
  animation: popIn 1.3s
    cubic-bezier(0.87, -0.41, 0.19, 1.22) forwards;
}

.animate-out {
  animation: popOut 1.3s
    cubic-bezier(0.87, -0.41, 0.19, 1.22) forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  60% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes popOut {
  0% {
    z-index: 100;
    opacity: 1;
    transform: scale(1, 1);
  }
  60% {
    z-index: 0;
    opacity: 0.1;
    transform: scale(0.001, 0.001);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

//Add letter popup starts here

.add-special-letter-grid {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(6, 40px);
  // justify-content: center;
  align-content: center;
  grid-auto-rows: 40px;
  grid-gap: 0.25rem;
  input[type='radio'] {
    display: none;
  }
 

  .special-add-label {
    // padding: 0.1rem;
    // background-color: #c6b7a5e0;
    position: relative;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .letter-special-single {
      background-color: #c6b7a5e0;
      padding: 2px;
      font-weight: 500;
      width: 100%;
      font-size: 18px;
      height: 100%;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  input[type='radio']:checked + label {
    .letter-special-single {
      color: #8e6b21;
    }
  }
}
.special-letter-text {
  min-height: 400px;
  min-width: 480px;
  max-height: 400px;
  max-width: 480px;
  border-radius: 6px;
  margin: 2.5% 0;
  padding: 20px;
  line-height: 1.5;
  background-color: white;
  border: 4px solid rgba(209, 78, 39, 0.761);
  .s-special-letter {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-family: 'Fredoka One', cursive;
  }
  .special-letter-warning {
    margin-top: 0.5rem;
    p {
      font-family: 'Fredoka One', cursive;
      letter-spacing: 0.5px;
      font-size: 12px;
    }
  }
}

//addletter pop up ends here



//Welcome popUp starts here
.welcome-popup-text{
  min-height: 800px;
  min-width: 1080px;
  max-height: 800px;
  max-width: 1080px;
  border-radius: 6px;
  margin: 2.5% 0;
  padding: 20px;
  line-height: 1.5;
  // background-color: rgba(15, 54, 101, 0);
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: contain;
  border: 4px solid rgba(175, 70, 43, 0.761);
  .scrabble-welcome{
      background-color: #363636;
      text-align: center;
      border-radius: 16px;
      // font-family: 'Monoton', cursive;
      font-family: 'Bungee Shade', cursive;
      // font-family: 'Love Ya Like A Sister', cursive;
      // opacity: 0.86;
      margin-top: 220px;
      font-size: 116px;
      font-weight: 700;
      color: rgb(145, 44, 240);
  }
  .welcome-popup-btn-div{

    p{
      padding: 18px 24px 20px;
      font-size: 24px;
    }
  }
}


//Welcome popup ends here


//name popup starts here
.welcome-name-text{
  min-height: 800px;
  min-width: 1080px;
  max-height: 800px;
  max-width: 1080px;
  border-radius: 6px;
  margin: 2.5% 0;
  padding: 20px;
  line-height: 1.5;
  // background-color: rgba(15, 54, 101, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 4px solid rgba(175, 70, 43, 0.761);
  p{
    padding: 12px 20px 18px;
    font-size: 22px;
  }
  .name-popup-field-div{
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    margin: 0 auto;
    justify-content: center;
  }
  
.input-group {
  display: block;
  width: 441px;
  max-width: 100%;
  height: 82px;
  border: 0;
  background-color: #ffffff;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  border-top-left-radius: 41px;
  border-top-right-radius: 0;
  box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
  margin-bottom: 22px;
  position: relative;
  font-size: 17px;
  color: #a7b4c1;
  transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

.input-group:hover {
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
}

.input-group input {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  border: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: 65px;
  width: 100%;
  padding: 0 53px;
  padding-bottom: 12px;
  box-sizing: border-box;
  z-index: 3;
  display: block;
  color: #1a6fc4;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oxygen", sans-serif;
  transition: top 0.1s ease-in-out;
}

.input-group input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  top: 17px;
  outline: none;
}

.input-group label {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 53px;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  cursor: text;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  bottom: 20px;
  font-size: 13px;
  opacity: 0.7;
}

}

