@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
// $total-width: 100vw;
// $game-width: 100vh;
// $control-width: $total-width-100vh;
.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #363636;
}
//Game container
.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vh;
  position: relative;
  background: #363636;
}
.side-bar-one,
.side-bar-two {
  position: absolute;
  width: 5vh;
  height: 90vh;
  background: #363636;
}
.side-bar-one {
  left: 0;
  top: 5vh;
  bottom: 0;
}
.side-bar-two {
  left: 95vh;
  top: 5vh;
  bottom: 0;
}
.top-bar-one,
.top-bar-two {
  position: absolute;
  height: 5vh;
  width: 90vh;
  background: #363636;
}
.top-bar-one {
  left: 5vh;
  right: 0;
  top: 0;
}
.top-bar-two {
  left: 5vh;
  right: 0;
  top: 95vh;
}
.side-bar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 5.4vh;
  grid-gap: 0.5vh;
  padding: 0.6vh 0;
}
.top-bar-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-columns: 5.4vh;
  grid-gap: 0.5vh;
  height: 100%;
}
.side-bar-grid,
.top-bar-grid {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  font-family: 'Fredoka One', cursive;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.board {
  left: 5vh;
  top: 5vh;
  right: 0;
  bottom: 0;
  height: 90vh;
  width: 90vh;
  color: teal;
  background: white;
  border: 0.5vh solid indigo;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 5.4vh;
  grid-gap: 0.5vh;
  padding: 0.4vh 0.25vh;
  position: absolute;
}
.board-cell {
  width: 5.4vh;
  height: 5.4vh;
  border-radius: 0.4vh;
  background: #e2e2e2;
  position: relative;
  -moz-box-shadow: inset 0 0 10px #0f0d1369;
  -webkit-box-shadow: inset 0 0 10px #0f0d1369;
  box-shadow: inset 0 0 10px #0f0d1369;
}
.red,
.blue,
.pred,
.pblue {
  -moz-box-shadow: inset 0 0 5px #0f0d1369;
  -webkit-box-shadow: inset 0 0 5px #0f0d1369;
  box-shadow: inset 0 0 5px #0f0d1369;
}
.red {
  background: #d16666bd;
}

.pred {
  background: #f58eb2;
}
.blue {
  background: #826df7;
}
.pblue {
  background: #8eb6f8;
  // background-image:$wooden-bg-url;
}
.top-bar-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}
.wooden-bg {
  background-image: $wooden-bg-url;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.4vh;
  border-bottom-right-radius: 0;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}
letter-bg {
  position: relative;
}
.singleletter-p {
  background: transparent;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}
.singleletter-p-point {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 0.6rem;
  font-weight: 400;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}
//Game Container ends

//Controls Container
.controls-container {
  box-sizing: border-box;
  background: #dae0e6;
  position: absolute;
  top: 0;
  left: 100vh;
  right: 0;
  height: 100vh;
}

.player-control {
  position: relative;
}
.player-letter-grid {
  display: grid;
  padding: 0.5rem;
  padding-left: 0.2rem;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  grid-auto-rows: 10vh;
  grid-gap: 1rem;
  border-radius: 0.4vh;
  // padding: 0 1rem;
  background: #ffffff;
}
.player-div-one,
.player-div-two {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #949494;
  background:transparent #d6e3e0;
  height: 96%;
  // background-image: url('../images/89499.jpg');
}
.player-div-one {
  padding-top: 5vh;
}

.player-one-outer-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background-image: url('../images/89499.jpg');
  // margin: 0.4rem;
  // padding: 0.4rem;
  // background-color: #2C3E50;
  // border-radius: 1rem;
}
.player-two-outer-div {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  height: 50vh;
  background-image: url('../images/89499.jpg');
  // margin: 0.4rem;
  // padding: 0.4rem;
  // background-color: #2C3E50;
  // border-radius: 1rem;
}
.player-control-title {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.2px;
  margin: 2rem;
  color: #1c6e50;
  cursor: default;
}
.player-letter-elem {
  // margin: 0.5rem 0;
  height: 100%;

  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + label {
    .playerletter-p {
      color: #e7a518;
    }
    .playerletter-p-point {
      color: #e7a518;
    }
    -webkit-box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
  2px 2px 0px rgba(231, 165, 24, 0.65),
  3px 3px 0px rgba(231, 165, 24, 0.65),
  4px 4px 0px rgba(231, 165, 24, 0.65),
  5px 5px 0px rgba(231, 165, 24, 0.65),
  6px 6px 0px rgba(231, 165, 24, 0.65),
  7px 7px 0px rgba(231, 165, 24, 0.65);
  -moz-box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
  2px 2px 0px rgba(231, 165, 24, 0.65),
  3px 3px 0px rgba(231, 165, 24, 0.65),
  4px 4px 0px rgba(231, 165, 24, 0.65),
  5px 5px 0px rgba(231, 165, 24, 0.65),
  6px 6px 0px rgba(231, 165, 24, 0.65),
  7px 7px 0px rgba(231, 165, 24, 0.65);
  box-shadow: 1px 1px 0px rgba(231, 165, 24, 0.65),
  2px 2px 0px rgba(231, 165, 24, 0.65),
  3px 3px 0px rgba(231, 165, 24, 0.65),
  4px 4px 0px rgba(231, 165, 24, 0.65),
  5px 5px 0px rgba(231, 165, 24, 0.65),
  6px 6px 0px rgba(231, 165, 24, 0.65),
  7px 7px 0px rgba(231, 165, 24, 0.65);
   
  }
  input[type='checkbox']:disabled + label {
    opacity: 0.25;
    transition-delay: 0.2s;
    transition: opacity 0.2s ease-in;
  }
  -webkit-box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
  2px 2px 0px rgba(126, 107, 94, 0.6),
  3px 3px 0px rgba(126, 107, 94, 0.6),
  4px 4px 0px rgba(126, 107, 94, 0.6),
  5px 5px 0px rgba(126, 107, 94, 0.6),
  6px 6px 0px rgba(126, 107, 94, 0.6),
  7px 7px 0px rgba(126, 107, 94, 0.6);
  -moz-box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
  2px 2px 0px rgba(126, 107, 94, 0.6),
  3px 3px 0px rgba(126, 107, 94, 0.6),
  4px 4px 0px rgba(126, 107, 94, 0.6),
  5px 5px 0px rgba(126, 107, 94, 0.6),
  6px 6px 0px rgba(126, 107, 94, 0.6),
  7px 7px 0px rgba(126, 107, 94, 0.6);
  box-shadow: 1px 1px 0px rgba(126, 107, 94, 0.6),
  2px 2px 0px rgba(126, 107, 94, 0.6),
  3px 3px 0px rgba(126, 107, 94, 0.6),
  4px 4px 0px rgba(126, 107, 94, 0.6),
  5px 5px 0px rgba(126, 107, 94, 0.6),
  6px 6px 0px rgba(126, 107, 94, 0.6),
  7px 7px 0px rgba(126, 107, 94, 0.6);
  

  overflow-inline: hidden;
}
.input + label {
  opacity: 1;
}
input:disabled + label {
  opacity: 0.8;
}
.player-letter-bg {
  position: relative;
  height: 100%;
  cursor: pointer;
}
.playerletter-p {
  background: transparent;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  font-family: 'Noto Serif KR', serif;
}
.playerletter-p-point {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  font-family: 'Noto Serif KR', serif;
}

//Player Letter ends here

//Player controls button here
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #2e70cc;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
.player-control-button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  grid-auto-rows: 10vh;
}
.general-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 6em;
  color: $red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 24px;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
  &:disabled {
    opacity: 0.25;
    transition: opacity 0.2s ease-in;
  }
}
.submit-btn {
  // height: 60px;
  // width: 160px;
  font-size: 24px;
  border-radius: 12px;
  border-color: $turquoise;
  color: #fff;
  padding: 1em 1.5em;
  background: {
    image: linear-gradient(
      to right,
      transparentize($turquoise, 0.4),
      transparentize($turquoise, 0.4) 5%,
      $turquoise 5%,
      $turquoise 10%,
      transparentize($turquoise, 0.4) 10%,
      transparentize($turquoise, 0.4) 15%,
      $turquoise 15%,
      $turquoise 20%,
      transparentize($turquoise, 0.4) 20%,
      transparentize($turquoise, 0.4) 25%,
      $turquoise 25%,
      $turquoise 30%,
      transparentize($turquoise, 0.4) 30%,
      transparentize($turquoise, 0.4) 35%,
      $turquoise 35%,
      $turquoise 40%,
      transparentize($turquoise, 0.4) 40%,
      transparentize($turquoise, 0.4) 45%,
      $turquoise 45%,
      $turquoise 50%,
      transparentize($turquoise, 0.4) 50%,
      transparentize($turquoise, 0.4) 55%,
      $turquoise 55%,
      $turquoise 60%,
      transparentize($turquoise, 0.4) 60%,
      transparentize($turquoise, 0.4) 65%,
      $turquoise 65%,
      $turquoise 70%,
      transparentize($turquoise, 0.4) 70%,
      transparentize($turquoise, 0.4) 75%,
      $turquoise 75%,
      $turquoise 80%,
      transparentize($turquoise, 0.4) 80%,
      transparentize($turquoise, 0.4) 85%,
      $turquoise 85%,
      $turquoise 90%,
      transparentize($turquoise, 0.4) 90%,
      transparentize($turquoise, 0.4) 95%,
      $turquoise 95%,
      $turquoise 100%
    );
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 100px;
  }
}
.pass-btn {
  border-color: $red;
  color: #fff;
  background: {
    image: linear-gradient(
      to right,
      transparentize($red, 0.4),
      transparentize($red, 0.4) 5%,
      $red 5%,
      $red 10%,
      transparentize($red, 0.4) 10%,
      transparentize($red, 0.4) 15%,
      $red 15%,
      $red 20%,
      transparentize($red, 0.4) 20%,
      transparentize($red, 0.4) 25%,
      $red 25%,
      $red 30%,
      transparentize($red, 0.4) 30%,
      transparentize($red, 0.4) 35%,
      $red 35%,
      $red 40%,
      transparentize($red, 0.4) 40%,
      transparentize($red, 0.4) 45%,
      $red 45%,
      $red 50%,
      transparentize($red, 0.4) 50%,
      transparentize($red, 0.4) 55%,
      $red 55%,
      $red 60%,
      transparentize($red, 0.4) 60%,
      transparentize($red, 0.4) 65%,
      $red 65%,
      $red 70%,
      transparentize($red, 0.4) 70%,
      transparentize($red, 0.4) 75%,
      $red 75%,
      $red 80%,
      transparentize($red, 0.4) 80%,
      transparentize($red, 0.4) 85%,
      $red 85%,
      $red 90%,
      transparentize($red, 0.4) 90%,
      transparentize($red, 0.4) 95%,
      $red 95%,
      $red 100%
    );
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 80px;
  }
}
.draw-btn {
  border-color: $purple;
  color: #fff;
  background: {
    image: linear-gradient(
      to right,
      transparentize($purple, 0.4),
      transparentize($purple, 0.4) 5%,
      $purple 5%,
      $purple 10%,
      transparentize($purple, 0.4) 10%,
      transparentize($purple, 0.4) 15%,
      $purple 15%,
      $purple 20%,
      transparentize($purple, 0.4) 20%,
      transparentize($purple, 0.4) 25%,
      $purple 25%,
      $purple 30%,
      transparentize($purple, 0.4) 30%,
      transparentize($purple, 0.4) 35%,
      $purple 35%,
      $purple 40%,
      transparentize($purple, 0.4) 40%,
      transparentize($purple, 0.4) 45%,
      $purple 45%,
      $purple 50%,
      transparentize($purple, 0.4) 50%,
      transparentize($purple, 0.4) 55%,
      $purple 55%,
      $purple 60%,
      transparentize($purple, 0.4) 60%,
      transparentize($purple, 0.4) 65%,
      $purple 65%,
      $purple 70%,
      transparentize($purple, 0.4) 70%,
      transparentize($purple, 0.4) 75%,
      $purple 75%,
      $purple 80%,
      transparentize($purple, 0.4) 80%,
      transparentize($purple, 0.4) 85%,
      $purple 85%,
      $purple 90%,
      transparentize($purple, 0.4) 90%,
      transparentize($purple, 0.4) 95%,
      $purple 95%,
      $purple 100%
    );
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 80px;
  }
}

//PopUp


@mixin font-stack{
  font-family: 'Raleway', sans-serif;
}

$background-opacity: .5;

.hidden{
  opacity:0;
}

@mixin absolute-position-center(){
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
}

#pop-up{
  @include absolute-position-center();
  @include box-shadow();
  // display: none ;
  width:90%;
  // opacity:0;
  max-height:240px;
  max-width:400px;
  // height:90%;
  background-color:white;
  z-index:10000;
  overflow:hidden;
  border: 4px solid indigo;
  transition: opacity 0.25s ease-in;
  .border-overlay{
    @include absolute-position-center;
    width:100%;
    height:100%;
    .white{
      width:100%;
      height:100%;
      border:20px solid white;
    }
  }
 
  .text{
    // display:inline-block;
    // float:left;
    // width:50%;
    height:90%;
    margin:2.5% 0;
    padding:0 40px;
    // color: black !important;
    h1{
      font-weight:900;
      font-size:4vw;
      margin:0;
      text-decoration: underline;
    }
    p{
    width: 90%;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.8em;
    }
    button{
      background-color:#16a085;
      border:none;
      font-size:1.7em;
      margin:20px 0;
      padding:10px 40px;
      color:white;
      cursor:pointer;
    }
    .close{
      position:absolute;
      top:-10px;
      right:40px;
      width:10px;
      font-weight:700;
      font-size:2em;
      color:black;
      cursor:pointer;
    }
  }
 
}

#innerPopUp{
  height:100%;
  overflow: auto;
  // opacity:0;
}

.fade-in{
  animation: fadeIn 1.3s ease forwards 1s;
}

.fade-out{
  animation: fadeOut 1.3s ease forwards;
}

.animate-in{
  animation: popIn 1.3s cubic-bezier(.87,-.41,.19,1.22) forwards;
}

.animate-out{
  animation: popOut 1.3s cubic-bezier(.87,-.41,.19,1.22) forwards;
}

@keyframes fadeIn{
  from{
    transform:translateY(-20px);
    opacity:0;
  }
  to{
    transform:translateY(0px);
    opacity:1;
  }
}
@keyframes popIn{
  0%{
    opacity:0;
    transform:scale(0,0);
  }
  60%{
    opacity:1;
    transform:scale(1,1);
  }
  100%{
    opacity:1;
    transform:scale(1,1);
  }
}

@keyframes popOut{
  0%{
    z-index:100;
    opacity:1;
    transform:scale(1,1);
  }
  60%{
    z-index:0;
    opacity:.1;
    transform:scale(.001,.001);
  }
  100%{
    opacity:0;
    transform:scale(0,0);
  }
}
